<%- include('partials/header.ejs') %>

  <div class="container">
    <h2>Game Sessions</h2>
    <% if (gameSessions && gameSessions.length> 0) { %>
      <ul class="game-sessions-list">
        <% gameSessions.forEach(session=> { %>
          <li>
            <div>
              <p style="font-size: 18px; font-weight: bold;">Game: <%= session.game && session.game.title %>
              </p>
              <p>Date: <%= new Date(session.date_played).toLocaleDateString() %>
              </p>
              <p>Attendees: <%= session.attendees %>
              </p>
              <p>Comments: <%= session.comments %>
              </p>
            </div>
            <button class="delete-button" onclick="openDeletePopup()">
              <i class='fas fa-trash-alt'></i>
            </button>
            <!-- Delete confirmation popup -->
            <div id="deletePopup" style="display: none;">
              <p>Are you sure you want to delete this game session?</p>
              <form action="/delete-game-session/<%= session.session_id %>" method="post">
                <button type="submit" class="delete-button">Yes, Delete Session</button>
              </form>
              <button onclick="closeDeletePopup()">Cancel</button>
            </div>
          </li>
          <% }); %>
      </ul>
      <% } else { %>
        <p>No game sessions recorded yet.</p>
        <% } %>
  </div>


  <div class="container">
    <h2>Games</h2>
    <% if (games && games.length> 0) { %>
      <ul class="games-list">
        <% games.forEach(game=> { %>
          <li>
            <%= game.title %> - <%= game.description %>
                <a href="/edit-game/<%= game.game_id %>">
                  <button>
                    <i class='fas fa-edit'></i>
                  </button>
                </a>
          </li>
          <% }); %>
      </ul>
      <% } else { %>
        <p>No games available - add a game!</p>
        <% } %>
  </div>

  <%- include('partials/footer.ejs') %>

    <script>
      // JavaScript functions to handle opening and closing the delete confirmation popup
      function openDeletePopup() {
        document.getElementById('deletePopup').style.display = 'block';
      }

      function closeDeletePopup() {
        document.getElementById('deletePopup').style.display = 'none';
      }
    </script>